body {
    font-family: OPTIBelwe-Medium;
    vertical-align: top;
    background-image: url("file:///Users/h205p3/Desktop/empty.jpeg");
}


td {
    font-family: OPTIBelwe-Medium;
    vertical-align: top;
}


table {
    font-family: OPTIBelwe-Medium;
    margin-bottom: 18px;
}


button {
    font-family: OPTIBelwe-Medium;
    font-size: 30px;
}
select {
    font-family: OPTIBelwe-Medium;
}

div {
    font-family: OPTIBelwe-Medium;
    margin: 10px 0px;
}

#empty {
    height: 200px;

}
#head {
    height: 200px;

}
#body {
    height: 200px;

}
#rightarm {
    height: 200px;

}
#leftarm {
    height: 200px;

}
#rightleg {
    height: 200px;

}
#leftleg {
    height: 200px;

}